*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#categorias{
    padding: 10px 0px;
    margin: 0px;
}

article{
    margin: 4vw 2.5vw 4vw 5vw;
    width: 40vw;
    height: 250px;
    padding: 0px;
    overflow: hidden;
    /* border-top: solid .5px;
    border-right: solid .5px;
    border-bottom: solid .5px; */
    display: inline-block;
    box-shadow: black 1px 1px 5px;
    border-radius: 5px;
}

.producto{
    float: right;
    width: 50%;
    height: 100%;
}

.producto h2{
    font-size: 30px;
    font-weight: bold;
    margin: 5% 0%;
    text-align: center;
    height: 10%;
}

.producto p{
    margin: 5% 0%;
    text-align: center;
    height: 55%;
    width: 100%;
    padding: 2%;
}


.producto div{
    text-align: center;
    border-bottom: solid .5px;
    font-size:  130%;
    padding: 2% 0px;
    background: #FED641;
    width: 100%;
}

.img_producto{
    float: left;
    width: 50%;
    height: 100%;
}

footer{
    background: #FED641;
    color: white;
}

footer h2{
    font-size: 30px;
    margin: 10px;
}

footer img{
    margin: 5px 10px;
}

footer p{
    margin: 5px 20px;
    font-size: 30px;
    float: right;
}