*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/******************************************/
/*Estilos de subtitulo categorias*/
/******************************************/
#subtitulo{
    width: fit-content;
    height: 30px;
    background: black;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 0px 2vw;
    margin: 0px;
}

.linea{
    border: solid .7px black;
    padding: 0px;
    width: 100%;
    height: 0px;
    margin: 0px;
}


/******************************************/
/*Estilos para las tarjetas de categorias*/
/******************************************/
.contenedor_tarjeta{
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
}

/*Estilo de tarjeta*/
.tarjeta{
    margin: 4vw 2.5vw 4vw 5vw;
    width: 40vw;
    height: 250px;
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    box-shadow: black 1px 1px 5px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/*Estilos para descripcion de los productos*/
.descripcion{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

.descripcion h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 15%;
    width: 100%;
    margin: 5px 0px;
    position: relative;
    top: 0%;
}

.descripcion p{
    text-align: justify;
    padding: 1% 2%;
    width: 100%;
    overflow: hidden;
    position: relative; 
}


.descripcion .verMas,.btn-abrir-popup{
    text-align: center;
    font-size:  25px;
    height: 20%;
    width: 100%;
    background: #FED641;
    position: absolute;
    bottom: 0px;
    text-decoration: none;
    color: black;
    padding: 0px;
    cursor: pointer;
}

.descripcion .btn-abrir-popup{
    background: #ff0000;
    color: white;
}

.descripcion .verMas div{
    width: 100%;
}


.descripcion .verMas:hover{
    background-color: #ffc800;
    color: white;
}

.descripcion .precio{
    font-size: 20px;
    color: teal;
    position: absolute;
    padding: 0px 10px 5px 0px;
    text-align: right;
    bottom: 20%;
}

/*Estilos para imagen de los productos*/
.img_producto{
    float: left;
    width: 50%;
    height: 100%;
    object-fit: cover;

}
