

header{
    margin: 0px;
    background: #FED641;
    height: 100px;
}

#titulo{
    text-align: center;
    color: #fff;
    font-size: 80px;
    margin: 0px;
}



#menu{
    font-size: 25px;
    overflow: hidden;
    background: none;
}

#inicio{
    float: left;
    margin-left: 10px;
    color: black;
}
#inicio:hover{
    color:#FED641;
    cursor:pointer;
}

#perfil{
    float: right;
    margin-right: 10px;
    color: black;
}

#perfil:hover{
    color:#FED641;
    cursor:pointer;
}

#buscar{
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 30px;
    margin: 20px ;
}

#input_buscar{
    width: 300px;
    height: 100%;
    border: solid .5px;
    padding: 0px 10px;
}

#btn_buscar{
    width: 80px;
    height: 100%;
    background: white;  
    border: solid black 1px; 
    padding: 0px;
    cursor: pointer;
}


#categorias{
    margin-top: 20px;
}

