@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

/* Estilos contenido de ventana emergente*/

#contenido2{
	margin-left: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#contenido2 #producto2 {
	font-size: 2vw;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
	margin-top: 0px;
}

#contenido2 #descripcion2 {
	position: relative;
	font-size: 2vw;
	margin-bottom: 40px;
	opacity: 0;
}



#contenido2 #btnAcciones2 {
	bottom: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
}

#contenido2 #btnAcciones2 .opciones2{
	display: flex;
	align-items: center;
	padding: 5px;
	text-decoration: none;
	text-align: center;
    background: #FED641;
	color: black;
	box-shadow: black 1px 1px 5px;
	opacity: 0;
}



.contenedor article .btn-abrir-popup2:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay2 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay2.active {
	visibility: visible;
}

.popup2 {
	position: relative;
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 60vw;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
	display: flex;
	flex-direction: row;
	align-content:space-between;
}

.popup2 .btn-cerrar-popup2 {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup2 .btn-cerrar-popup2:hover {
	color: #000;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup2.active {	transform: scale(1); opacity: 1; }
.popup2.active h3 { animation: entradaTitulo2 .8s ease .5s forwards; }
.popup2.active h4 { animation: entradaSubtitulo2 .8s ease .5s forwards; }
.popup2.active .opciones2 { animation: entradaSubtitulo2 .8s ease .5s forwards; }


@keyframes entradaTitulo2 {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo2 {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


#digitos{
	font-size: 16px;
}