@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

/* Estilos contenido de ventana emergente*/
#contenedor_Imagen{
	width: 60%;
}
 
#contenedor_Imagen img{
    width: 100%;
	object-fit: cover;
	opacity: 0;
	border-radius: 5px;
}

#contenido{
	position: relative;
	margin-left: 10px;
	width: 40%;
	display: flex;
	flex-direction: column;
}

#contenido #producto {
	font-size: 2vw;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
	margin-top: 0px;
}

#contenido #descripcion {
	position: relative;
	font-size: 2vw;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

#contenido #cantidad {
	position: relative;
	font-size: 2vw;
	font-weight: 300;
	opacity: 0;
	height: 20px;
}
#contenido #msj {
	margin: 0px;
	position: relative;
	height: 20px;
	font-size: 2vw;
	color: red;
	font-weight: 300;
	opacity: 0;
}

#contenido #btnAcciones {
	position: absolute; 
	bottom: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
}

#contenido #btnAcciones .opciones{
	display: flex;
	align-items: center;
	padding: 5px;
	text-decoration: none;
	text-align: center;
    background: #FED641;
	color: black;
	box-shadow: black 1px 1px 5px;
	opacity: 0;
}

#contenido #datos{
	display: flex;
	justify-content: space-around;
	color: black;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#contenido  #datos p{
	font-size: 1vw;
	padding: 5px 0px;
	margin: 0px;
	color: black;
	opacity: 0;
	width: 50%;
	text-align: left;

}

#contenido  #datos #st{
	text-align: right;	
	padding-right: 2px;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	position: relative;
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 60vw;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
	display: flex;
	flex-direction: row;
	align-content:space-between;
}

.popup .btn-cerrar-popup {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }

.popup.active img { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .opciones { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active p { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active #cantidad { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active #msj { animation: entradaSubtitulo .8s ease .5s forwards; }


@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


/*Estilos para administrador en popupmodificar*/
#btnGuardarCambios{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
    background: #FED641;
	color: black;
	box-shadow: black 1px 1px 5px;
	opacity: 0;
	cursor: pointer;
	color: white;
	font-size: 18px;
}

#btnGuardarCambios,#nombreProduc,#descripcionProduc,#precioProduc,#stockProduc,label{
	opacity: 0;
	margin: 2px;
}

label {
	font-size: 18px;
	text-align: left;
}

#descripcionProduc{
	border: none;
	height: 60px;
	width: 100%;
}

/*agregar animaciones*/
.popup.active #btnGuardarCambios { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active #nombreProduc { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active #descripcionProduc { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active #precioProduc { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active #stockProduc { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active label { animation: entradaSubtitulo .8s ease .5s forwards; }
